@model Web.Models.Flights.FlightsDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>FlightsDetailsViewModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Unique number
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UniqueNumber)
        </dd>
        <dt class="col-sm-2">
            Location from
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LocationFrom)
        </dd>
        <dt class="col-sm-2">
            Location to
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LocationTo)
        </dd>
        <dt class="col-sm-2">
            Take off time
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TakeOffTime)
        </dd>
        <dt class="col-sm-2">
            Flight duration
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FlightDuration)
        </dd>
        <dt class="col-sm-2">
            Type of plane
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class="col-sm-2">
            Regular class capacity
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PassagerCapacity)
        </dd>
        <dt class="col-sm-2">
            Bussines class capacity
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BussinesClassCapacity)
        </dd>
    </dl>
    <form asp-controller="Flights" asp-action="CreateReservation" asp-route-id="model.UniqueNumber">
        <div class="form-group">
            <label asp-for="NumberOfPassagers" class="control-label">Number of passagers</label>
            <input asp-for="NumberOfPassagers" class="form-control" value="1" />
            <span asp-validation-for="NumberOfPassagers" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="hidden" asp-for="Id" class="form-control" value="model.UniqueNumber" />
        </div>
        @{ TempData["FlightId"] = Model.UniqueNumber;}
        <div class="form-group">
            <input type="submit" value="Make Reservation" class="btn btn-primary" />
        </div>
    </form>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th>
                    First name
                </th>
                <th>
                    Middle name
                </th>
                <th>
                    Last name
                </th>
                <th>
                    Nationality
                </th>
                <th>
                    Phone number
                </th>
                <th>
                    Type Of ticket
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var passager in Model.Passagers)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => passager.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => passager.MiddleName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => passager.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => passager.Nationality)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => passager.PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => passager.Type)
                    </td>
                </tr>
            }
        </tbody>
        <ul class="pagination">
            @for (var i = 1; i <= Model.Pager.PagesCount; i++)
            {
                <li class="page-item @(i == Model.Pager.CurrentPage ? "active" : "")">
                    <a asp-route-Pager.CurrentPage="@i" class="page-link">@i</a>
                </li>
            }
        </ul>
    </table>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}