@model Web.Models.Users.UsersIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Users</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                User name
            </th>
            <th>
                Password
            </th>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Unique Identification Number
            </th>
            <th>
                Phone Number
            </th>
            <th>
                Adress
            </th>
            <th>
                Email
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => user.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => user.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => user.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => user.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => user.UniqueIdentificationNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => user.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => user.Adress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => user.Email)
            </td>
            <td>
                @{TempData["UserId"] = user.UniqueIdentificationNumber;}
                <a class="nav-link" asp-action="Edit" asp-route-id="@user.UniqueIdentificationNumber"><span class="btn btn-danger">Edit</span></a>
            </td>
            <td>
                <a class="nav-link" asp-action="Delete" asp-route-id="@user.UniqueIdentificationNumber"><span class="btn btn-danger">Delete</span></a>
            </td>
        </tr>
        }
    </tbody>
    <ul class="pagination">
        @for (var i = 1; i <= Model.Pager.PagesCount; i++)
        {
            <li class="page-item @(i == Model.Pager.CurrentPage ? "active" : "")">
                <a asp-route-Pager.CurrentPage="@i" class="page-link">@i</a>
            </li>
        }
    </ul>
</table>

