@model Web.Models.Reservations.ReservationsDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Id
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            Is Confirmed
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsConfirmed)
        </dd>
        <dt class="col-sm-2">
            Regular Passagers
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberOfRegularPassagers)
        </dd>
        <dt class="col-sm-2">
            Bussines Passagers
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberOfBussinesPassagers)
        </dd>
        <dt class="col-sm-2">
            Email
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            From
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LocationFrom)
        </dd>
        <dt class="col-sm-2">
            To
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LocationTo)
        </dd>
        <dt class="col-sm-2">
            Take Off
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TakeOffTime)
        </dd>
        <dt class="col-sm-2">
            Land
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LandingTime)
        </dd>
    </dl>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th>
                    <a asp-action="Details" asp-route-pageSize="@Model.PageSize" asp-route-sortOrder="@ViewData["FirstNameSortParm"]">First name</a>
                </th>
                <th>
                    <a asp-action="Details" asp-route-pageSize="@Model.PageSize" asp-route-sortOrder="@ViewData["MiddleNameSortParm"]">Middle name</a>
                </th>
                <th>
                    <a asp-action="Details" asp-route-pageSize="@Model.PageSize" asp-route-sortOrder="@ViewData["LastNameSortParm"]">Last name</a>
                </th>
                <th>
                    <a asp-action="Details" asp-route-pageSize="@Model.PageSize" asp-route-sortOrder="@ViewData["NationalitySortParm"]">Nationality</a>
                </th>
                <th>
                    <a asp-action="Details" asp-route-pageSize="@Model.PageSize" asp-route-sortOrder="@ViewData["PhoneNumberSortParm"]">Phone number</a>
                </th>
                <th>
                    <a asp-action="Details" asp-route-pageSize="@Model.PageSize" asp-route-sortOrder="@ViewData["TypeSortParm"]">Type of ticket</a>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var passager in Model.Passagers)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => passager.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => passager.MiddleName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => passager.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => passager.Nationality)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => passager.PhoneNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => passager.Type)
                        </td>
                    </tr>
                }
            }
        </tbody>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Number of rows
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" asp-action="Details" asp-route-sortOrder="@Model.Order" asp-route-pageSize="@ViewData["PageSizeParm10"]">10 rows</a>
                <a class="dropdown-item" asp-action="Details" asp-route-sortOrder="@Model.Order" asp-route-pageSize="@ViewData["PageSizeParm25"]">25 rows</a>
                <a class="dropdown-item" asp-action="Details" asp-route-sortOrder="@Model.Order" asp-route-pageSize="@ViewData["PageSizeParm50"]">50 rows</a>
            </div>
        </div>
        <br />
        <ul class="pagination">
            @for (var i = 1; i <= Model.Pager.PagesCount; i++)
            {
                <li class="page-item @(i == Model.Pager.CurrentPage ? "active" : "")">
                    <a asp-route-Pager.CurrentPage="@i" class="page-link">@i</a>
                </li>
            }
        </ul>
    </table>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
